  .galleryContainer {
    display: flex;
    gap: 20px;
  }

  .galleryText {
    font: 300 14px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .galleryImage1,
  .galleryImage2,
  .galleryImage6,
  .galleryImage7 {
    width: 672px;
    border-radius: 16px;
    min-width: 240px;
    flex-grow: 1;
    margin: auto 0;
  }
  
  .galleryImage3,
  .galleryImage4,
  .galleryImage5 {
    width: 372px;
    min-width: 240px;
    margin: auto 0;
  }

  .manArticle {
    border-radius: 16px;
  }

  .secondaryGallery {
    margin-top: 40px;
  }