.LanAdvantages {
    border: 4px solid var(--orange-color);
    border-radius: 24px;
    background-color: transparent;
    padding: 48px;
    max-width: 650px;

}

.AdvanWholeText {
    max-width: 400px;
    margin-top: 80px;
}

.advanTitle {
    font-size: 32px;
    font-family: Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
    color: var(--black-color);
    font-weight: 600;
}

.advanText {
    font-size: 20px;
    font-family: Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
    color: var(--black-color);
    font-weight: 300;
}

.advanIcon {
    width: 45px;
}