.headerSearch {
  display: flex;
  justify-content: flex-start;
  padding: 40px 40px 80px;
  background-color: transparent;
}
  
.logoContainer {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 40px 128px;
  white-space: nowrap;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 672px;
  margin: auto 0;
}
  
.Logo {
  height: 40px;
}

.websiteName {
  color: var(--orange-color);
  font: 700 24px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
}

.linkMain {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
  
.upperLogo {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 64px;
  color: var(--black-color);
  justify-content: flex-start;
  width: 155px;
  margin: auto 0;
  font: 800 40px Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.menu__toggler {
  z-index: 1001;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--black-color);;

}

.sections,
.sections::before,
.sections::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: var(--dark-blue-color);
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
  
.sections::before {
  top: -8px;
}

.sections::after {
  top: 8px;
}

.menu {
  position: fixed;
  left: -100%;
  z-index: 990;
  color: var(--black-color);
  background: transparent;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
  @media only screen and (max-width: 600px) {
    width: 250px;
    left: -250px;
    padding: 50px;
  }}

.menu.active {
  left: 0;
  background: var(--white-color);
}

.menu__toggler.active .sections {
  background: var(--white-color);
}

.menu__toggler.active .sections::before,
.menu__toggler.active .sections::after {
  background: var(--black-color);
  top: 0px;
}

.menu__toggler.active .sections::before {
  transform: rotate(-225deg);
}

.menu__toggler.active .sections::after {
  transform: rotate(225deg);
}


.menuContent {
  max-width: 1200px;
  margin: 0px 0px 80px 225px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 350px;
  opacity: 0;
}

.menuSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menuSectionTitle {
  margin-bottom: 16px;
  color: transparent;
}

.menuSectionTitle.active {
  color: var(--black-color);
  font: 800 64px Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
  margin-top: 8px;
}

.menuNavItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
}

.menuNavItem {
  font: 300 40px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  text-decoration: none;
  transition: font-weight 0.2s ease;
  color: transparent;
}

.menuNavItem.active {
  color: var(--black-color);
}

.menuNavItem:hover {
  font-weight: 600;
}



  
.navigation {
  align-self: stretch;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 40px 48px;
  color: var(--black-color);
  justify-content: center;
  margin: auto 0;
  font: 300 20px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  text-decoration: none;
  position: relative;
  z-index: 997;
}

@media (max-width: 1204px) {
  .navigation {
    display: none;
  }
}

.menuItem {
  align-self: stretch;
  margin: auto 0;
  text-decoration: none;
}

a:hover, a:active {
  font-weight: 600;
  text-decoration: none;
}

.navItem.active {
  opacity: 0;
}

.searchContainer {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--grey-color);
  justify-content: center;
  margin: auto 0;
  padding: 0 12px 0 18px;
  font: 300 16px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
}

.searchIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  align-self: stretch;
  margin: auto 0;
}

.searchInput {
  align-self: stretch;
  width: 350px;
  height: 24px;
  border-radius: 25px;
  background-color: var(--grey-color);
  min-width: 240px;
  overflow: hidden;
  margin: auto 0;
  padding: 8px 16px;
  border: none;
  font: inherit;
  color: inherit;
}

.userIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  align-self: stretch;
  margin: auto 0;
}

.a {
  text-decoration: none;
  color: var(--black-color);
}

@media (max-width: 991px) {
  .headerSearch {
    padding: 40px 40px 80px;
  }

  .searchInput {
    display: none;
  }

  .searchContainer {
    padding: 0 24px 0 18px;
  }
}

@media (max-width: 768px) {
  .headerSearch {
    padding: 40px 40px 64px;
  }

  .searchIcon,
  .userIcon {
    width: 24px;
  }
}

@media (max-width: 430px) {
  .headerSearch {
    padding: 24px 24px 40px;
  }

  .upperLogo {
    gap: 28px;
  }
}
  
li {
  text-decoration: none;
}
