.content {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
  }
  
  .header {
    margin-bottom: 80px;
  }
  
  .title {
    display: flex;
    width: 100%;
    max-width: 1103px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 100px;
    font: 700 96px/1 Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
    letter-spacing: -1.92px;
  }
  
  .feedTitle,
  .subscriptionsTitle {
    color: var(--black-color);
  }
  
  .subscriptionsTitle {
    opacity: 50%;
  }
  
  .filterSection {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    max-width: 1089px;
  }
  
  .filterContainer {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 20px;
    color: var(--black-color);
    justify-content: left;
    flex-wrap: wrap;
    font: 300 16px/1 Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .filterDropdown {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: center;
  }
  
  .filterLabel {
    margin-bottom: 8px;
  }
  
  .dropdownWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .select {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: var(--grey-color);
    appearance: none;
    border: 0px;
    font: 300 16px/1 Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
    color: #7e7e7f;
  }
  
  .dropdownIcon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
  }
  
  .ropdownIcon {
    margin-left: -40px;
  }
  
  .filterButton {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: var(--grey-color);
    font: 300 16px/1 Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
    color: #7e7e7f;
    border: none;
    cursor: pointer;
  }
  
  .buttonIcon {
    width: 21px;
    height: 24px;
  }
  
  .clearFilters {
    align-self: center;
    margin-top: 20px;
    background: none;
    border: none;
    color: var(--black-color);
    cursor: pointer;
    font: 300 16px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .popularTags {
    margin-top: 64px;
  }
  
  .popularTagsTitle {
    color: var(--black-color);
    font: 700 48px/1 Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
    letter-spacing: -0.96px;
    margin-bottom: 24px;
  }
  
  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  
  .headerTag {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--black-color);
    color: var(--black-color);
    font: 400 12px/1.1 Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
    background-color: var(--white-color);
  }
  
  @media (max-width: 1024px) {
    .filterDropdown {
      min-width: 180px;
    }
  
    .header {
      margin-bottom: 64px;
    }
  }
  
  @media (max-width: 430px) {
    .content {
      margin: 0px 20px;
    }
  
    .title {
      margin-bottom: 64px;
      font: 700 43px/1 Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
      gap: 40px;
    }
  
    .select {
      font: 300 12px/1 Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
    }
  
    .filterContainer {
      gap: 16px;
      font: 300 14px/1 Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
    }
  
    .filterSection {
        display: block;
    }
  
    .clearFilters {
      font: 300 12px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
    }
  
    .filterButton {
      font: 300 12px/1 Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
    }
  
    .tagContainer {
      gap: 4px;
    }
  
    .popularTags {
      margin-top: 40px;
    }
  
    .header {
      margin-bottom: 28px;
    }
  }
  