.placeRow {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--black-color);
  grid-row: 2; /* Размещаем на второй строке */
    grid-column: 1;
}

.placeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.placeText {
  font-weight: 500;
  font-size: 12px;
  font: 500 16px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
}