.tag {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  border-radius: 12px;
  border: none;
  font: 300 14px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
  padding: 8px;
}

.tags {
  grid-row: 5;
}

.tag:hover {
  background-color: var(--orange-color)
}