.tag {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  border-radius: 12px;
  border: none;
  font: 400 16px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
  padding: 8px;
}

.tag:hover {
  background-color: var(--orange-color)
}